html,body{
    background-color:white;
    font-family:sans-serif;
    padding: 0px;
    margin: 0;
}
.form-container{
    background: white;
    margin-top: auto;
    width: 20em;
    padding: 40px;
    margin-left: 36%;
    margin-top: 6%;
    border-style: solid;
    border-color: #0069ff;
    border-width: thin;
    border-radius: 4px;
}
.form-container input{
    width: 100%;
    padding-left: 0.4em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    background: #fcfcfc;;
    border: 2px solid #e7e7e7;
    display: block;
    border-radius: 3px;
    font-size: 15px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}
.btn{
    background-color:#0069ff;
    width: 103%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    border-radius: 0.5em;
    border-style: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}
.form-container p{
    text-align: center;
    font-size: 130%;
}
.login-prompt{
    color: #0069ff;
    margin-left: 36%;
}
.login-prompt a{
    color: #0069ff;
}