html,body{
    position: relative;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    color: black;
    background-color: white;
    font-size: 95%;
}
body{
    min-height: 30em;
    margin-bottom: 30em;
    clear: both;
}
@media only screen and (min-width:600px){
    /*hide scroll bar*/
    ::-webkit-scrollbar{
        display: none;
    }
}
@media only screen and (max-width:600px){
    body{
        font-size: 90%;
    }
}
nav{
    width: 100%;
    background-color: rgb(0,112,129);
    color: white;
    font-size: 1.5em;
    height: 2.5em;
    font-weight: bolder;
}
nav a{
    color: white;
    text-decoration: none;
    margin-top: 0.5em;
}
nav a:hover{
    color:rgb(16,178,133);
}

nav .right{
    float: right;
    margin-right: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .active{
    background: white;
}
nav .left{
    float: left;
    margin-left: 1em;
}
footer{
    background-color: rgb(0,112,129);
    height: 2em;
    margin-top: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
}
footer text{
    padding-top: 1em;
    padding-bottom: 0em;
}
.cntent{
    display: grid;
    grid-template-columns: auto auto auto;
}
content{
    border-radius: 1em;
    width: 50%;
    padding: 0.5em;
    text-align: center;
    margin-top: 4em;
    margin-left: 4em;
    font-weight: bolder;
}
button{
    background-color: rgb(0,112,129);
    color: white;
    border: none;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
}
img{
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin-top: 4em;
    border-radius: 3em;
}
.container{
    width: 100%;
    height: 20%;
}
form label{
    float: left;
}
form input{
    width: 100%;
    border-radius: 0.5em;
    height: 2em;
    border-style: none;
    left: 2em;
}
form textarea{
    border-radius: 0.5em;
    width: 60%;
}
.form-container{
    border-color: #ccc;
    background-color: #dedede;
    color: Black;
    width: 30%;
    position: absolute;
    margin-top: 5%;
    text-align: center;
    height: 100%;
    left: 35%;
}
.form-container form{
    color:black;
    left: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.form-container .button{
    background-color: rgb(0,112,129);
    color: white;
    margin-bottom: 1em;
}
@media only screen and (max-width:600px){
    .form-container{
        width: 10em;
    }
    .login-text{
        font-size: 2em;
    }
}
.log-in-container{
    border-color: #ccc;
    background-color: #dedede;
    color: Black;
    width: 30%;
    position: absolute;
    margin-top: 5%;
    text-align: center;
    height: 70%;
    left: 35%;
}
.log-in-container form{
    color:black;
    left: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.log-in-container .button{
    background-color: rgb(0,112,129);
    color: white;
    margin-bottom: 1em;
}
@media only screen and (max-width:600px){
    .log-in-container{
        width: 10em;
    }
    .login-text{
        font-size: 2em;
    }
}
.button{
    font-weight:bolder;
    color: white;
    background-color:rgb(0,112,129);
    cursor: pointer
}
.meetups{
    width: 30%;
    margin-top: 2em;
    position:relative;
    left: 1%;
    float: left;
    border-color: #ccc;
    background-color: #dedede;
    height:20em;
    margin-left: 1em;
}
.meetups form{
    float: left;
    padding-left: 2%;
    margin-left: 1em;
    width: 90%;
    margin-right: 1em;
    margin-left: 0em;
}
.meetups p{
    margin-left: 0.2em;
}
.meetups textarea{
    margin-left: 0.2em;
    width: 90%;
}
.meetupview{
    background-color: wheat;
    width: 50%;
    float: right;
    margin-top: 2em;
    margin-right: 1em;
}
.meetupview table{
    width: 100%;
}
.main-meetup{
    background-color: wheat;
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-top: 2em;
    margin-right: 1em;
}
.main-meetup table{
    width: 100%;
}
@media only screen and (max-width:600px){
    .meetups{
        left: 1em;
    }
    form textarea{
        width: 100%;
        height: 5em;
    }
    .butn{
        width: 100%;
    }
}
.meetups p{
    font-weight: bolder;
    font-size: 2em;
}
table{
    column-gap: 2em;
    border-collapse: collapse;
    width: 60%;
    text-align: left;
}
th{
    font-weight: bolder;
    font-size: 1em;
}
td,th{
    height: 2em;
    padding: 0.5em;
}
td .button{
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}
.question{
    width: 100%;
    position: absolute;
    left: 20%;
}
.question .post{
    float:left;
    margin-top: 1em;
    margin-left: 1em;
}
.question .queries{
    float:right;
    width: 80%;
}
/*Comment containers*/
.comment{
    width: 60%;
    background-color: #f1f1f1;
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    color: black;
    margin-left: 4em;
    float: left;
    position: relative;
}
/*Darker comment container*/
.darker-comment{
    border-color: #ccc;
    background-color: #dedede;
}
.comment-btn{
    font-weight:bolder;
    color: white;
    background-color:rgb(0,112,129);
    width: 5em;
    cursor: pointer;
}
textarea{
    height: 3em;
}
.meetup_form{
    font-weight: bolder;
    margin-right: 3em;
}
.admin-panel{
    font-weight:bolder;
    margin-left:1em
}
.create-meetup-btn{
    background-color:rgb(0, 112, 129);
    color:white;
    font-weight: bolder
}
.bold{
    font-weight: bolder;
}
.login-text{
    font-weight:bolder;
    font-size: 1em;
    left: 30%;
}
#post-btn{
    width: 60.5%;
}
.cell{
    width: 2em;
}
#login-msg{
    font-weight:bolder;
    font-size: 2em;
    left: 10%;
}
.profile{
    float: right; 
    width:100%;
    height: 100%;
}
.profile table{
    margin-top: 2em;
    margin-left: 1em;
    float: left;
    width: 30%;
    height: 100%
}
.feed{
    margin-top: 2em;
    float: right;
    margin-right: 1em;
    width: 55%;
    margin-left: 1em;
    overflow: visible;
}
.feed p{
    margin-left: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}
.title{
    font-weight: bolder;
    font-size: 1.5em;
    color:black;
}
.avatar{
    width: 8em;
    height: 6em;
    float: left;
}
.prof-card{
    width: 30%;
    margin-top: 2em;
    position:relative;
    left: 1%;
    float: left;
    border-color: #ccc;
    background-color: #dedede;
    height:20em;
    margin-left: 1em;
    height: 20%;
}